# source
**/*.ts
*.ts
config
lib
.env

# definitions
!**/*.d.ts
!*.d.ts

# configuration
.prettierrc
nest-cli.json
nodemon-debug.json
package-lock.json
tsconfig.json
tsconfig.spec.json
tsconfig.build.json
tslint.json
webpack.config.js
yarn.lock
bun.lockb
README.md
.eslintrc.js
.dockerignore

.npmrc
.nvmrc
.gitlab-ci.yml
Makefile

.npm/
test/